@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  width: 435px;
  background: #fff;
  color: #344563;
}

section {
  padding: 30px;
  padding-top: 120px;
}

button.primary-btn {
  margin-top: 30px;
  border: 1.5px double #6070ff;
  border-radius: 7.5px;
  background-color: #fff;
  padding: 10px;
  color: #396df2;
  font-size: large;
  font-weight: 500;
  cursor: pointer;
}

button.primary-btn:hover {
  background-color: #6070ff;
  color: #fff;
}

button.primary-btn:active {
  background-color: #00f;
  color: #fff;
}

#container {
  padding: 8px;
  padding-top: 30px;
  display: grid;
}

#work1,
#work2,
#work3,
#work4 {
  display: flexbox;
}

#main {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f9;
}

#topbar {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background: #fff;
  position: sticky;
  top: 0;
}

#logo {
  color: #6070ff;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

#hero {
  padding-bottom: 100px;
  background-image: url('img/header-shapes mobile.svg');
  background-repeat: repeat-y;
  background-size: 435px;
  border-radius: 0 0 0 100px;
  background-color: #fff;
}

h1 {
  line-height: 55px;
  font-size: 35pt;
  color: #172b4d;
  margin-bottom: 15px;
}

#connect,
#connectUs {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-decoration: none;
  display: block;
  margin-top: 10px;
}

#social,
#socialUs {
  margin-top: 10px;
}

#social a,
#socialUs a {
  margin-right: 12px;
}

.canopy li {
  margin-right: 15px;
  display: inline-block;
}

.collapse li {
  background-color: #f7f7f9;
  border-radius: 8px;
  column-gap: 10px;
  height: 67px;
  display: flex;
  align-items: center;
  padding: 11px;
  font-weight: 500;
  color: #253858;
}

.social ul li {
  list-style: none;
}

.work-card .skills li {
  display: inline;
  margin: 10px 10px 0 0;
  font-size: small;
  background-color: #ebebff;
  border-radius: 8px;
  padding: 5px 15px;
  color: #6070ff;
  font-weight: 500;
}

.mainli {
  list-style-type: '<';
  border-bottom: 1px solid #dfe1e6;
  padding: 30px;
  padding-right: 10px;
  padding-left: 10px;
}

.mainli::marker {
  font-size: large;
}

.mainli label {
  font-size: large;
  font-weight: 600;
  color: #000;
  display: block;
  text-align: end;
}

#social ul li,
#socialUs ul li {
  list-style: none;
  display: inline;
  margin-left: 3px;
}

.work-card {
  margin-bottom: 75px;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  padding: 18px;
  border-radius: 15.5px;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.work-card h2 {
  font-size: xx-large;
  color: #172b4d;
  padding-top: 10px;
  padding-bottom: 15px;
}

.work-card h3 {
  color: #344563;
}

.work-card p {
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 10px;
}

.canopy {
  display: flex;
  list-style-position: inside;
  align-items: center;
  font-size: small;
}

.canopy li.item {
  display: list-item;
  list-style-image: url('img/Counter.svg');
  color: #7a869a;
  font-weight: 500;
}

.collapse li span {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.collapse li span img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 100px;
}

.canopy li.item span {
  margin-left: 5px;
  color: #7a869a;
}

#about {
  display: flex;
  flex-direction: column;
  border-radius: 0 100px 0 0;
  background-color: #fff;
  row-gap: 10px;
  padding-bottom: 100px;
}

#contact h1 {
  color: #fff;
  font-size: 36px;
}

#about h1 {
  margin-bottom: 0;
}

#about #connectUs {
  margin-top: 0;
}

#about button.primary-btn {
  margin-top: 0;
}

.social {
  padding: 10px;
}

.social ul {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

#list {
  direction: rtl;
}

.collapse {
  list-style-type: none;
  direction: ltr;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

details {
  border-bottom: 1px solid #dfe1e6;
  padding: 30px;
  padding-right: 10px;
  padding-left: 10px;
}

details[open] {
  border-bottom: none;
}

details summary {
  position: relative;
  list-style: none;
  font-size: large;
  font-weight: 600;
  color: #000;
}

details summary::after {
  content: ">";
  color: #5e6c84;
  position: absolute;
  font-size: 1.75rem;
  line-height: 0;
  margin-top: 0.75rem;
  right: 25px;
  font-weight: 200;
  transform-origin: center;
  transition: 200ms linear;
}

details[open] summary {
  padding-bottom: 20px;
}

details[open] summary::after {
  transform: rotate(90deg);
}

#contact {
  background-color: #6070ff;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 15px;
  width: 100%;
  border-radius: 100px 0 0 0;
  color: #fff;
  background-image: url('img/contact form shapes-mobile@2x.svg');
  background-repeat: repeat-y;
  background-size: 435px;
}

#contact p {
  font-size: 20px;
}

#contact form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 10px;
  align-self: stretch;
}

#contact form input {
  height: 79px;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 10px;
}

#contact form textarea {
  height: 110px;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 10px;
  text-align: left;
}

#contact form .primary-btn {
  margin-top: 0;
}

#contact form .primary-btn:hover {
  background-color: #fff;
  color: #6070ff;
}

#contact form .primary-btn:active {
  background-color: #6070ff;
  color: #fff;
}

@media screen and (max-width: 768px) {
  #menuToggle {
    display: flex;
    position: relative;
    top: 0;
    left: 25px;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  #menuToggle a {
    text-decoration: none;
    color: #808080;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }

  #menuToggle a:hover {
    color: #4f7794;
  }

  #menuToggle input {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -7px;
    left: -5px;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }

  #menuToggle .label {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
  }

  #menuToggle .label span {
    display: none;
  }

  #menuToggle .label div {
    display: block;
    width: 30px;
    height: 2px;
    margin-bottom: 6px;
    position: relative;
    background: #6070ff;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0;
    -ms-transform-origin: 4px 0;
    transform-origin: 4px 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  #menuToggle .label div:first-child {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }

  #menuToggle .label div:nth-child(2) {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }

  #menuToggle input:checked + .label div {
    background: #232323;
  }

  #menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -12px;
    padding: 7px;
    padding-top: 125px;
    list-style-type: none;
    left: 250px;
    -webkit-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    transition: left 0.3s ease;
    visibility: hidden;
  }

  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }

  #menuToggle input:checked ~ ul {
    left: -54px;
    visibility: visible;
    z-index: 1;
  }
}

@media screen and (min-width: 768px) {
  body {
    width: 100%;
  }

  #main {
    justify-content: space-around;
    width: 100%;
  }

  #topbar {
    padding-left: 95px;
  }

  #topbar nav {
    padding-right: 54px;
  }

  #menuToggle .label,
  #menuToggle input {
    display: none;
    visibility: hidden;
    position: relative;
    padding-right: 36px;
  }

  #menu li a {
    color: #808080;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
  }

  #menu li a::before,
  #menu li a::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: gray;
    content: "";
    opacity: 0;
    transition: all 0.3s;
  }

  #menu li a::before {
    top: 0;
    transform: translateY(10px);
  }

  #menu li a::after {
    bottom: 0;
    transform: translateY(-10px);
  }

  #menu li a:hover::before,
  #menu li a:hover::after {
    opacity: 1;
    transform: translateY(0);
  }

  .collapse li {
    display: block;
    height: 90px;
  }

  #menu li {
    display: inline-flex;
    list-style: none;
    justify-content: space-around;
    padding-left: 35px;
    align-self: center;
  }

  #hero {
    background-repeat: no-repeat;
    background-size: cover;
  }

  #hero h1 {
    display: flex;
    padding-top: 183px;
    padding-left: 222px;
  }

  #hero p {
    display: flex;
    font-size: larger;
    width: 82%;
    padding-left: 225px;
  }

  #social {
    display: flex;
    flex-direction: row;
    padding-left: 218px;
  }

  #work {
    display: flex;
  }

  #container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 188px;
  }

  #work1,
  #work2,
  #work3,
  #work4 {
    flex-direction: row;
  }

  #work1 {
    column-gap: 74px;
  }

  #work2,
  #work4 {
    column-gap: 15px;
    flex-direction: row-reverse;
  }

  #work3 {
    column-gap: 54px;
  }

  #work1 img {
    width: 410px;
  }

  #work2 img,
  #work3 img,
  #work4 img {
    width: 614px;
  }

  #about {
    width: 100%;
    border-radius: 0 0 0 0;
    padding-left: 274px;
  }

  #about div {
    flex-direction: row;
  }

  #contact form div {
    align-self: center;
  }

  #about p {
    width: 50%;
    padding-top: 15px;
  }

  #contact p {
    width: 34%;
  }

  #socialUs {
    padding-top: 9px;
    padding-bottom: 5px;
  }

  .details {
    display: grid;
    width: 40%;
    justify-content: end;
    margin-left: 582px;
    margin-top: -362px;
  }

  .details summary {
    padding-right: 200px;
  }

  .collapse {
    flex-direction: row;
    column-gap: 15px;
  }

  .collapse li span {
    display: block;
  }

  #contact {
    margin-top: 75px;
    background-image: url('img/contact_form_background_shapes.svg');
    background-repeat: repeat-y;
    background-size: 100%;
  }

  #contact form {
    width: 31%;
    align-self: auto;
    margin-left: -9px;
    row-gap: 18px;
  }

  #contact form div .primary-btn {
    margin-left: -8px;
  }
}
