@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  width: 435px;
  background: #fff;
}

#main {
  display: flex;
  flex-direction: column;
}

#topbar {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background: #fff;
}

#logo {
  color: #6070ff;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

#hero {
  margin-top: 75px;
  padding: 30px;
  background-image: url('img/header-shapes mobile.svg');
  background-repeat: repeat-y;
  background-position-y: 88px;
  background-size: 435px;
}

#about {
  margin-top: 75px;
  padding: 30px;
}

h1 {
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

#connect,
#connectUs {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-decoration: none;
  display: block;
  margin-top: 10px;
}

#social,
#socialUs {
  margin-top: 10px;
}

#social a,
#socialUs a {
  margin-right: 12px;
}

#skill li,
#skill2 li,
#skill3 li,
#skill4 li {
  background-color: #c4ccff;
  border-radius: 10px;
  padding: 5px;
  color: #172b4d;
  font-size: small;
}

#social ul li,
#socialUs ul li {
  list-style: none;
  display: inline;
  margin-left: 3px;
}

#description p,
h2 {
  padding-top: 10px;
  padding-bottom: 15px;
  margin-left: 2px;
}

#description2 p,
h2 {
  padding-top: 10px;
  padding-bottom: 15px;
  margin-left: 2px;
}

#description3 p,
h2 {
  padding-top: 10px;
  padding-bottom: 15px;
  margin-left: 2px;
}

#description4 p,
h2 {
  padding-top: 10px;
  padding-bottom: 15px;
  margin-left: 2px;
}

#work {
  margin-top: 75px;
  margin-left: 20px;
  padding: 30px;
}

#work1,
#work2,
#work3,
#work4 {
  background-color: #fff;
  padding: 26px;
  border-radius: 10px;
  box-shadow: 0 0 3px #ccc;
}

#work2,
#work3,
#work4 {
  margin-top: 75px;
}

#work2 h2,
#work3 h2,
#work4 h2 {
  margin-top: -44px;
}

#description ul li,
#description2 ul li,
#description3 ul li,
#description4 ul li {
  list-style-image: url('img/Counter.svg');
  display: inline;
  margin: 10px 10px 0 2px;
  font-size: small;
}

#description button,
#description2 button,
#description3 button,
#description4 button {
  margin-top: 30px;
}

#project,
#project2,
#project3,
#project4,
#resume {
  outline: none;
  border: 0;
  border-color: transparent;
}

#resume {
  margin-top: 25px;
}

#list {
  margin-top: 30px;
}

#list ul li {
  list-style: none;
  padding-top: 10px;
}
